{% extends "base.html" %}

{% block jumbotron %}
<div class="jumbotron">
  <div class="container">
    <h1>Democracy Club Q&amp;As</h1>
    <p>This is a prototype of a Q&amp;A app for organisations to ask questions of people standing for office</p>
    <p>It uses <a href="http://popit.poplus.org/">PopIt</a> in the back end, and should interoperate with other poplus components</p>
    {# <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> #}
  </div>
</div>
{% endblock jumbotron %}
