{% extends "base.html" %}

{% block jumbotron %}
<div class="jumbotron">
  <div class="container">
    <h1>Candidate Q&amp;As #GE2015</h1>
    <p>This is a prototype of a Q&amp;A app for organisations to ask questions of Prospective Parliamentary Candidates in the UK general election 2015.</p>
    <p>The code is under active development. More details are available on <a href="https://github.com/DemocracyClub/candidate_questions/">Github</a>.</p>
  </div>
</div>
{% endblock jumbotron %}

{% block footer %}
<div class="footer">
  <div class="container">
    <p>Built by <a href="http://89up.org/">89up Labs</a> with help from: <a href="https://www.openrightsgroup.org/">Open Rights Group</a> + <a href="https://democracyclub.org.uk/">Democracy Club</a></p>
  </div>
</div>
{% endblock footer %}
